@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo à Toro Investimentos</h1>
    <p>Clique no link <a href="https://www.toroinvestimentos.com.br/">Para mais informações da plataforma oficial</a>.</p>
</div>
